---
layout: base.html
title: ZWA2
description: Home Assistant Connect ZWA-2 - 800 series Z-Wave Long Range adapter
permalink: /home-assistant-connect-zwa-2/index.html
---

<script type="module" src="/src/pages/zwa2-details.ts"></script>
<script type="module" src="/src/components/app-header.ts"></script>

<app-header></app-header>
<zwa2-details></zwa2-details>
