---
layout: install.html
title: Install Z-Wave Zniffer firmware
subtitle: Inspect packets, decode traffic, and gather statistics
description: Install Z-Wave Zniffer firmware on your Home Assistant Connect ZWA-2
backHref: /home-assistant-connect-zwa-2/
hero: |
  <p>
    This firmware is for Z-Wave developers, and can be used to inspect packets, decode traffic, send commands, gather statistics, and more.
  </p>
---

<div class="installer-wrapper">
  <div class="installer-card">
    <install-firmware firmware="zniffer"></install-firmware>
  </div>
</div>

<script type="module" src="https://home-assistant.github.io/zwa2-toolbox/standalone/install-firmware.js"></script>
