---
layout: install.html
title: Install Z-Wave repeater firmware
subtitle: Turn ZWA-2 into a standalone Z-Wave repeater
description: Install Z-Wave repeater firmware on your Home Assistant Connect ZWA-2
backHref: /home-assistant-connect-zwa-2/
hero: |
  <p>
    This firmware turns ZWA-2 into a standalone Z-Wave device, which can help strengthen an existing Z-Wave network.
  </p>
---

<div class="installer-wrapper">
  <div class="installer-card">
    <install-firmware firmware="repeater"></install-firmware>
  </div>
</div>

<script type="module" src="https://home-assistant.github.io/zwa2-toolbox/standalone/install-firmware.js"></script>
