---
layout: install.html
title: Recover adapter
subtitle: Recover a non-responsive ZWA-2 adapter
description: Recover a non-responsive Home Assistant Connect ZWA-2
backHref: /home-assistant-connect-zwa-2/
hero: |
  <p>
    Attempt to recover an unresponsive ZWA-2 by identifying known issues and applying appropriate fixes.
  </p>
---

<div class="installer-wrapper">
  <div class="installer-card">
    <recover-adapter></recover-adapter>
  </div>
</div>

<script type="module" src="https://home-assistant.github.io/zwa2-toolbox/standalone/recover-adapter.js"></script>
