{% capture full_title -%} {%- if title -%} {{ title }} – Device Toolbox {%- else
-%} Device Toolbox {%- endif -%} {%- endcapture %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ full_title }}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css"
    />
    <script type="module" src="/src/utils/dark-mode.ts"></script>
    <script type="module" src="/src/components/app-header.ts"></script>
    <style>
      @import url('/src/styles/shoelace.css');
      @import url('/src/styles/theme.css');
      body {
        margin: 0;
      }
    </style>
  </head>
  <body class="wa-palette-shoelace wa-theme-shoelace">
    <app-header></app-header>
    {{ content }}
  </body>
</html>
