---
layout: base.html
title: VPE
description: Home Assistant Voice Preview Edition - Local voice control for your smart home
permalink: /vpe/index.html
---

<script type="module" src="/src/pages/vpe-details.ts"></script>

<vpe-details></vpe-details>
