---
layout: base.html
title: VPE
description: Home Assistant Voice Preview Edition - Local voice control for your smart home
permalink: /vpe/index.html
---

<script type="module" src="/src/pages/vpe-details.ts"></script>
<script type="module" src="/src/components/app-header.ts"></script>

<app-header></app-header>
<vpe-details></vpe-details>
