---
layout: base.html
title: Install Firmware - VPE
description: Flash the latest Voice PE firmware directly to your device
permalink: /vpe/install/index.html
additionalScripts: |
  <script type="module" src="https://unpkg.com/esp-web-tools@10/dist/web/install-button.js?module"></script>
---

<script type="module" src="/src/pages/vpe-install.ts"></script>
<script type="module" src="/src/components/app-header.ts"></script>

<app-header></app-header>
<vpe-install></vpe-install>
