---
layout: base.html
title: ZBT1
description: Update firmware for your Connect ZBT-1 adapter
permalink: /zbt1/index.html
---

<script type="module" src="/src/pages/zbt1-details.ts"></script>

<zbt1-details></zbt1-details>
