---
layout: base.html
title: ZBT1
description: Update firmware for your Connect ZBT-1 adapter
permalink: /zbt1/index.html
---

<script type="module" src="/src/pages/zbt1-details.ts"></script>
<script type="module" src="/src/components/app-header.ts"></script>

<app-header></app-header>
<zbt1-details></zbt1-details>
